<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Использование сервиса</title>
</head>
<body>

<p>Подсказка:</p>

<pre>

Внести целое число: /add/[число], например: внести число 2: <a href="/add/2">/add/2</a> число 15: <a href="/add/15">/add/15</a> число 165: <a href="/add/165">/add/165</a>
Показать наименьшее число: <a href="/showMin">/showMin</a>
Показать наибольшее число: <a href="/showMax">/showMax</a>
Показать среднее арифм. число: <a href="/showAvg">/showAvg</a>

<a href="/logout">выйти</a>

</pre>

</body>
</html>